<%= form_for([@planned_responce.subscription, @planned_responce]) do |f| %>
  <% if @planned_responce.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@planned_responce.errors.count, "error") %> prohibited this planned_responce from being saved:</h2>

      <ul>
      <% @planned_responce.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :refid %><br />
    <%= f.text_field :refid %>
  </div>
  <div class="field">
    <%= f.label :responce_at %><br />
    <%= f.date_select :responce_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
